# Virtual environment
venv/

#to be removed when data is completed pre-processed
Data/original data
Data/original data zip
Data/dataset/
Data/origami_images
Data/yolov8x-seg.pt

#CycleGAN 
CycleGAN/data/
CycleGAN/__pycache__/
CycleGAN/.ipynb_checkpoints/
CycleGAN/results/
CycleGAN/experiments/*/results/*.png
!CycleGAN/experiments/*/results/output_test.png
CycleGAN/experiments/*/checkpoints/
CycleGAN/experiments/*/exported/*savedmodel/
#Vanilla NST
NST/results
NST/layers
NST/FastNST/checkpoints/
NST/FastNST/evaluate

#Feed Forward NST
NST/checkpoints_nststyle
NST/samples_nststyle

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db