# Virtual environment
venv/

#to be removed when data is completed pre-processed
Data/original data
Data/original data zip
Data/dataset/
Data/origami_images
Data/yolov8x-seg.pt

#CycleGAN 
CycleGAN/data/
CycleGAN/__pycache__/
CycleGAN/.ipynb_checkpoints/
CycleGAN/results/
CycleGAN/experiments/*/results/*.png
!CycleGAN/experiments/*/results/output_test.png
CycleGAN/experiments/*/checkpoints/
CycleGAN/experiments/*/exported/*savedmodel/

CycleGAN2/data/
CycleGAN2/__pycache__/
CycleGAN2/.ipynb_checkpoints/
CycleGAN2/results/
CycleGAN2/experiments/*/results/*.png
!CycleGAN2/experiments/*/results/output_test.png
CycleGAN2/experiments/*/checkpoints/
CycleGAN2/experiments/*/exported/*savedmodel/

CycleGAN3/data/
CycleGAN3/__pycache__/
CycleGAN3/.ipynb_checkpoints/
CycleGAN3/results/
CycleGAN3/experiments/*/results/*.png
!CycleGAN3/experiments/*/results/output_test.png
CycleGAN3/experiments/*/checkpoints/
CycleGAN3/experiments/*/exported/*savedmodel/

#Vanilla NST
NST/results
NST/layers
NST/FastNST/checkpoints/
NST/FastNST/evaluate/v2/baseline/test/
NST/FastNST/evaluate/v2/stylized/test/
NST/FastNST/evaluate/v3/baseline/test/
NST/FastNST/evaluate/v3/stylized/test/

#Feed Forward NST
NST/checkpoints_nststyle
NST/samples_nststyle

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
