# Virtual environment
venv/

#to be removed when data is completed pre-processed
Data/original data
Data/original data zip
Data/dataset/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
